.root {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: var(--link-hover);
  }

  &:focus-visible {
    color: var(--link-color);
    text-decoration: underline;
    outline: none;
  }
}
