.root {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  order: 0;
  min-width: 0;

  &:empty {
    margin-bottom: 9999px;
  }
}

.sideButton {
  left: 8px;
}

.asideButton {
  right: 8px;
}

.asideButton,
.sideButton {
  position: fixed;
  top: calc(var(--header-size) + 24px);
  background: var(--border-color);
  border: none;
  border-radius: 50%;
  color: var(--text-primary);
  cursor: pointer;
  transition: .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;

  &:hover {
    color: var(--white-color);
  }

  &:active {
    background: var(--secondary-color);
  }
}
