.root {
  margin-bottom: 32px;
  color: #a9b7c6;
  font-size: 14px;
}

.header {
  background: var(--secondary-color);
  position: sticky;
  top: var(--header-size);
  padding-top: 10px;
  margin-bottom: 56px;
}

.title {
  font-size: 12px;
  color: rgb(128, 128, 128);
  border: 1px solid rgba(247, 183, 86, 0.1);
  background: #242320;
  border-radius: 12px 12px 0 0;
}

.code {
  padding: 20px;
  border: 1px solid rgba(247, 183, 86, 0.1);
  border-top: none;
  background: #1e1e1e;
  border-radius: 0 0 12px 12px;
  margin-top: -56px;
}

.tabs {
  margin: -12px -16px;
}

.tab {
  cursor: pointer;
  padding: 10px 16px;
  border-bottom: 2px solid transparent;
  transition: color .2s, border .2s;

  &:hover {
    color: var(--primary-color);
  }
}

.selected {
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}

.copy {
  display: flex;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 6px;
  background: rgba(247, 183, 86, 0.15);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-color);
  transition: background-color .2s;

  &:hover {
    background: rgba(247, 183, 86, 0.25);
  }
}
