.root {
  position: relative;

  &:before {
    content: 'copied';
    display: block;
    position: absolute;
    inset: 0;
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    text-align: center;
    transition: opacity .2s;
    opacity: 0;
    pointer-events: none;
  }
}

.copied:before {
  opacity: 1;
}
